/*
  Dove into Webrtc example for RTCPeerConnection
*/

html, body {
  height: 100%;
  font-family:'Open Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  min-width: 1250px;
  height: 100%;
  grid-template-areas: "infobox infobox infobox"
  "userlistbox logbox camerabox";
  grid-template-columns: 10em 1fr 500px;
  grid-template-rows: 20em 1fr;
  grid-gap: 1rem;
}

.infobox {
  grid-area: infobox;
  overflow: auto;
}

.userlistbox {
  grid-area: userlistbox;
  border: 1px solid black;
  margin:0;
  padding:1px;
  list-style:none;
  line-height:1.1;
  overflow-y:auto;
  overflow-x:hidden;
}

.userlistbox li {
  cursor: pointer;
  padding: 1px;
}

.logbox {
  grid-area: logbox;
  border: 1px solid black;
  margin: 0;
  overflow-y: scroll;
  padding: 1px;
  padding: 0.1rem 0.5rem;
}

.camerabox {
  grid-area: camerabox;
  width: 500px;
  border: 1px solid black;
  display: block;
  position:relative;
  overflow:auto;
}

#received_video {
  width: 100%;
  height: 100%;
  position:absolute;
}

/* The small "preview" view of your camera */
#local_video {
  width: 120px;
  height: 90px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 4px black;
}

#chroma_video {
  width: 120px;
  height: 90px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 4px black;
}

.warn {
  color: blue;
}

.error {
  color: crimson;
}